@model EnterpriseViewModel

<h1>Edit Enterprise</h1>

<hr />

<div class="row">
    <div class="col-md-6">
        <h2>Enterprise</h2>
        @using (Html.BeginForm("EditEnterprise", "Enterprise", FormMethod.Post))
        {
            @Html.AntiForgeryToken()

            <div class="form-group">
                @Html.LabelFor(m=>m.Name)
                @Html.EditorFor(m=>m.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(m=>m.Name, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                @Html.LabelFor(m=>m.City)
                @Html.EditorFor(m=>m.City, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(m=>m.City, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                @Html.LabelFor(m=>m.Certifications)
                
                <div id="certifications">
                    @foreach(var certification in Model.Certifications)
                    {
                        Html.Partial("_CertificationPartial", certification);
                    }
                </div>
                <button type="button" class="btn btn-primary" id="addCertification">Add Certification</button>

                <script type="text/template" id="certificationTemplate">
                    @Html.Partial("_CertificationTemplate", Model)
                </script>

                <script>
                    $(function (){
                        var certificationIndex = '@Model.Certifications.Count()';
                        $('#addCertification').click(function() {
                            var templateHtml = $('#certificationTemplate').html();
                            templateHtml = templateHtml.replace(/newIndex/g, certificationIndex);
                            $('#certifications').append(templateHtml);
                            certificationIndex++;
                        });
                    });
                </script>
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-success">Save changes</button>
            </div>
        }
    </div>
</div>

@section scripts{
    <script>
        $(function(){
            $('#addCertification').click(function(){
                var index = $('#certifications .card').length;
                var template = $('#certificationTemplate').html().replace(/__index__/g, index);
                $('#certifications').append(template);
            });
        });

        $(document).on('click', '.validate-certification-form', function(){
            var partial = $(this).closest('.card-body');
            var isValid = true;

            partial.find(':input[data-val-required]').each(function() {
                if(!$(this).val()){
                    $(this).siblings('.validation-message').text('This field is required.').show();
                    isValid = false;
                }else{
                    $(this).siblings('.validation-message').hide();
                }
            });

            return isValid;
        });
    </script>
}